<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SoftShop!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="https://meyerweb.com/eric/tools/css/reset/reset.css" />
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/superhero/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link href='https://fonts.googleapis.com/css?family=Coda:400&subset=latin' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}" />
    </head>
    <body>
        {% block nav %}
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('homepage') }}">SoftShop</a></li>
                        </ul>

                        {% if is_granted("ROLE_USER") %}
                            <ul class="nav navbar-nav">
                                <li><a href="{{ path('product_list') }}">Products</a></li>
                                <li><a href="{{ path('product_create') }}">Add product</a></li>
                            </ul>
                        {% endif %}
                    </div>

                    <div class="navbar-header-inverse">
                    {% if is_granted("ROLE_USER") %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('cart_get') }}">Cart</a></li>
                            <li><a href={{ path('user_logout') }}>Logout</a></li>
                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href={{ path('user_login') }}>Login</a></li>
                            <li><a href={{ path('user_register') }}>Register</a></li>
                        </ul>
                    {% endif %}
                    </div>
                </div>
            </nav>
        {% endblock %}

        <div class="container jumbotron">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>


