{% extends "::base.html.twig" %}

{% block title %}ShopBundle:Cart:get{% endblock %}

{% block body %}

    {% if cart|length == 0 %}
        <div class="col-md-8">
            <h3>
                Cart is empty
            </h3>
            <p>
                Browse newest <a href="{{ path('product_list') }}">products</a>
            </p>
        </div>
    {% else %}
        <div class="col-md-8">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th/>
                    <th>Product</th>
                    <th class="text-right">Quantity</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart %}
                    <tr>
                        <td>
                            <form method="post" action="{{ path('cart_remove') }}">
                                <input class="hide" type="text" name="product_id" value="{{ item.product.getId }}">
                                <button class="btn btn-xs btn-default fa fa-times" type="submit" />
                            </form>
                        </td>
                        <td>
                            <a href="{{ path('product_get', {'id': item.product.getId}) }}">
                                {{ item.product.getName }}
                            </a>
                        </td>
                        <td class="text-right">
                            {{ item.quantity }}
                        </td>
                        <td class="text-right">
                            {{ item.product.getPrice }}
                        </td>
                        <td class="text-right">
                            {{ item.product.getPrice * item.quantity }}
                        </td>
                    </tr>
                {% endfor %}
                <tr/>
                <tr>
                    <td/>
                    <td/>
                    <td/>
                    <td/>
                    <td class="text-right">
                        Total: {{ total }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="text-right">
                <h3>Available balance: $ {{ available_balance }}</h3>
                <h3>Total cost: $ {{ total }}</h3>
            </div>
        </div>
        <div class="col-md-12 text-right">
            <a class="btn btn-default" href="{{ path('cart_reset') }}" >Clear Cart</a>
            <a class="btn btn-default" href="{{ path('product_list') }}" >Continue Shopping</a>
            <a class="btn btn-default" href="{{ path('cart_checkout') }}" >Checkout</a>
        </div>
    {% endif %}
</div>
{% endblock %}
