{% extends '::base.html.twig' %}
{% block body %}

<div class="flex justify-center">
    <div class="col-md-5 well">
        <img class="img-thumbnail" src="{{ uploads_route ~ product.getImageUrl}}" alt="">
    </div>
    <div class="col-md-5">
        <div class="col-md-8">
            <h4></h4>
        </div>
        <div class="col-md-12">
            <h2>
                {{ product.getName }}
            </h2>
            <p>
                {{ product.getDescription }}
            </p>

            <p class="text-right">
                Price: $ {{ product.getPrice }}
            </p>

            <small class="pull-right">
                Available {{ product.getQuantity }}
            </small>
        </div>
        <div class="col-md-8 text-right pull-right">
            <form method="post" action="{{ path('cart_add') }}">
                <input class="hide" type="text" name="product_id" value="{{ product.getId }}">
                <label for="quantity">Quantity</label>
                <input type="number" id="quantity" name="quantity" value="1" min="1">
                <button class="btn btn-default pull-right" type="submit">
                    Add to cart
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
