{% extends "::base.html.twig" %}

{% block title %}ShopBundle:PurchaceHistory:list{% endblock %}

{% block body %}
    <div class="col-md-6">
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Date of Purchase</th>
            </tr>
            </thead>
            <tbody>
            {% for item in purchase_history %}
                <tr>
                    <td>
                        <a href="{{ path('purchase_history_get', {'id': item.getId}) }}">
                            {{ item.getId }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('product_get', {'id': item.getProduct.getId}) }}">
                            {{ item.getProduct.getName }}
                        </a>
                    </td>
                    <td>
                        {{ item.getQuantity }}
                    </td>
                    <td>
                        {{ item.getDateCreated.format('Y-m-d') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
