{% extends "::base.html.twig" %}

{% block title %}ShopBundle:Cart:get{% endblock %}

{% block body %}
    <div class="flex justify-center">
        <div class="col-md-10 well">
            <legend>
                User list
            </legend>
            <table class="table table-striped table-hover ">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Roles</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Activity</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            {{ user.getId }}
                        </td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href={{ path('user_get', {'id': user.getId}) }}>
                                    {{ user.getUsername }}
                                </a>
                            {% else %}
                                {{ user.getName }}
                            {% endif %}
                        </td>
                        <td>
                            {{ user.getName }}
                        </td>
                        <td>
                            {{ user.getSurname}}
                        </td>
                        <td>
                            {% for role in user.getRoles %}
                                {{ role.name }}
                                {% if not loop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {{ user.getEmail }}
                        </td>
                        <td>
                            {{ user.getIsBanned ? 'BANNED' : 'Active' }}
                        </td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('customer_purchase_history_list', {'customer_account_id': user.getCustomerAccountId}) }}">
                                    <i class="fa fa-history" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
