{% extends "::base.html.twig" %}

{% block title %}ShopBundle:Cart:get{% endblock %}

{% block body %}
    <div class="col-md-6">
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th />
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                    <tr>
                        <td>
                            <a href={{ path('user_get', {'id': user.getId}) }}>
                                {{ user.getId }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('user_get', {'id': user.getId}) }}">
                                {{ user.getUsername }}
                            </a>
                        </td>
                        <td>
                            {{ user.getName }}
                        </td>
                        <td>
                            {{ user.getSurname}}
                        </td>
                        <td>
                            {{ user.getEmail }}
                        </td>
                        <td>
                            <a href="{{ path('customer_purchase_history_list', {'customer_account_id': user.getCustomerAccountId}) }}">
                                <i class="fa fa-history" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
